body,html {
  height: 100%;
  width: 100%; 
  background:#fff;
}

#bankActivity_Vue{  
  width:3.75rem;
  height:6.67rem;
  overflow: hidden;
  position: relative;
  background-image:url("../../assets/img/bank_bg.png");
  background-size: 100%;

  div.opationbox{
    position: absolute;
    top:1.85rem;
    left: 0.3rem;
    width:3.15rem;
    height:4.05rem;
    overflow: hidden;
    background:rgba(249,150,135,0.90);
    border-radius: 2px;
    padding-top: 0.15rem;
    div.coupon_money_box{
      width:2.75rem;
      height:0.95rem;
      background-image:url("../../assets/img/bank_coupon_bg.png");
      background-size: 100%;
      overflow: hidden;
      position: relative;
      margin:0 auto 0.07rem;
      p{
        width:2.25rem;
        margin: auto;
        text-align: left;
      }
      p.coupon_money{
        height:0.35rem;
        line-height: 0.35rem;
        font-size:0.3rem;
        color: #feb100;
        margin-top: 0.05rem;
        margin-bottom: 0.05rem;
      }
      p.coupon_desc{
        font-size:0.1rem;
        color: #343434;
      }
      p.coupon_time{
        height:0.24rem;
        line-height: 0.24rem;
        font-size:0.1rem;
        color:#999;
        position: absolute;
        left:0.25rem;
        bottom: 0.02rem;
        border-top: 1px dashed #cacaca;
      }
    }

    div.show_money_box{
      width:100%;
      height:auto;
      overflow:hidden;
      margin-top:0.08rem;
        p.button{
          width:1.2rem;
          height:0.32rem;
          border-radius: 0.03rem;
          display:flex;
          align-items:center;
          justify-content:center;
          color:white;
          font-size:0.14rem;
          background:#343434;
          margin:0.06rem auto 0;
          font-weight: 700;
        }

        p.receive_message{
          width:100%;
          text-align:center;
          color:#fff;
          font-size:0.12rem;
        }

        input.phone_input{
          display:block;
          width:2.2rem;
          height:0.32rem;
          color:#999;
          border-radius:0.05rem;
          margin:auto;
          font-size:0.14rem;
          outline:none;
          text-align:center;
          border: 1px solid #999;
        }
        input::-webkit-input-placeholder {
          font-size:0.14rem;
          color:#999;
        }

    }

  }  
  p.goochaoDesc{
    width:3.75rem;
    text-align:center;
    font-size:0.1rem;
    color:#FEFEFE;
    position: absolute;
    left:0;
    bottom:0.38rem;
  }
  img.logo{
    display:block;
    width:1.47rem;
    height:0.24rem;
    position: absolute;
    left:50%;
    margin-left: -0.735rem;
    bottom:0.09rem;
  }

}