body,html{
    width: 100%;
    height: 100%;
    background: #F2F2F2;
}
#feedback_Vue{
    .name{
        width: 3.43rem;
        height: 0.44rem;
        padding: 0 0.16rem;
        line-height: 0.44rem;
        border-bottom: 1px solid #F2F2F2;
        background: #FFFFFF;
        display:flex;
        align-items:center;
        position: relative;
        >span{
            font-size: 0.16rem;
            color: #333333;
            display: inline-block;
            float: left;
        }
        >input{
            font-size: 0.16rem;
            color: #999999;
            display: inline-block;
            float: left;
//          height: 0.2rem;
//          line-height: 0.44rem;
           // padding: 0.12rem 0;
           width: 2rem;
            margin: 0 0 0 0.1rem;
            outline: none;
            border: none;
        }
        >img{
            position: absolute;
            display:block;
            width:0.2rem;
            height:0.2rem;
            padding:0.1rem;
            right: 0.16rem;
            top: 0.02rem;
        }
    }
    .phone{
        width: 3.43rem;
        height: 0.44rem;
        padding: 0 0.16rem;
        line-height: 0.44rem;
        border-bottom: 1px solid #F2F2F2;
        margin-bottom: 0.1rem;
        background: #FFFFFF;
        position: relative;
        display:flex;
        align-items:center;
        >span{
            font-size: 0.16rem;
            color: #333333;
            display: inline-block;
            float: left;
        }
        >input{
            font-size: 0.16rem;
            color: #999999;
            display: inline-block;
            float: left;
            width: 2rem;
//          height: 0.2rem;
//          line-height: 0.44rem;
            //padding: 0.12rem 0;
            margin: 0 0 0 0.1rem;
            outline: none;
            border: none;
        }
        >img{
            position: absolute;
            display:block;
            width:0.2rem;
            height:0.2rem;
            padding:0.1rem;
            right: 0.06rem;
            top: 0.02rem;
        }
    }
    .feedback{
        width: 3.43rem;
        height: 3.48rem;
        padding: 0 0.16rem;
        background: #FFFFFF;
        position: relative;
        >.title{
            display: inline-block;
            float: left;
            font-size: 0.16rem;
            color: #333333;
            margin-top: 0.1rem;
        }
        >textarea{
            position: absolute;
            left: 0.16rem;
            top: 0.36rem;
            width: 3.43rem;
            height: 3rem;
            border: none;
            padding: 0;
            outline: none;
            font-size: 0.14rem;
            color: #999999;
            resize:none;
        }
    }
    .sureBtn{
        background: #333333;
//      box-shadow: 0 1px 4px 0 rgba(0,0,0,0.10);
//      border-radius: 4px;
        width: 3.43rem;
        height: 0.46rem;
        position: fixed;
        left: 0.16rem;
        bottom: 0.16rem;
        color: #FFFFFF;
        font-size: 0.16rem;
        line-height: 0.48rem;
        text-align: center;
    }
}
