$blackColor:#343434;

body,html {
    height: 100%;
    width: 100%; 
}
#home_vue{

    background: url("../../assets/img/bg.png");
.spaceArea{
    width: 100%;
    height: 0.5rem;
    background: #2E3033;
}
#content{
	position:absolute;
	top:0.5rem;
	left:0;
	height:auto;
}

.activityHomeImage{
	display:block;
	width:0.64rem; height:0.64rem;
	position:fixed;;
	bottom:1.3rem; right:0.15rem;
	z-index: 999;
	transition:all ease 300ms;
	transform: translate3d(0.8rem, 0px, 0px);
}
.showActivity{
	transform: translate3d(0px, 0px, 0px);
}


.banner{
  width: 3.75rem;
	height: 2rem;
	overflow: hidden;
}
.banner img{
	width: 100%;
	height: 100%;
}
.banner .mint-swipe-indicators{
	bottom: 0.05rem;
	height:0.1rem;
	display: flex;
    align-items: center;

}
.mint-swipe-indicator{
	width: 0.12rem;
	height: 0.02rem;
	opacity: 1;
//	border-radius: 0;
	background: #999;
	border-radius:0;
}
.banner .mint-swipe-indicator.is-active{
	background: #fff;
}
.goods{
//	margin-bottom:0.1rem;
	background: white;
	padding-bottom: 0.16rem;
	
}

.hotGoods{
	padding-top:0.2rem;
	width:100%;
	height:auto;
	overflow: hidden;
	p.title{
		width:3.35rem;
		height:0.24rem;
		margin:auto;
		overflow: hidden;
		line-height:0.24rem;
		padding: 0;
		>b{
			font-size:0.2rem;
			color:#343434;
			float:left;
			margin-right:0.02rem;
		}
		>img{
			width:0.24rem;
			height:0.24rem;
			float:left;
			display:block;
			margin:0;
			padding:0;
		}
	}
	div.goods_home_box{
		width:3.35rem;
		height:1.64rem;
		overflow: hidden;
		margin:0.2rem auto 0;
		div.goodsBox{
			width:100%;
			height:1.4rem;
		}
		div.goodsBox>img{
			width:1.4rem;
			height:1.4rem;
			float:left;
			display:block;
		}
		div.goodsBox>div{
			width:1.8rem;
			height:1.4rem;
			float:right;
		}
		p.title1{
			font-size:0.15rem;
			color:$blackColor;
			text-align:left;
			margin-top:0.2rem;
			font-weight:700;
			margin-bottom:0.02rem;
			overflow: hidden;
			text-overflow:ellipsis;
			white-space: nowrap;
		}
		p.desc{
			text-align:left;
			font-size:0.12rem;
			color:#999;
			margin-bottom:0.36rem;
			overflow: hidden;
			text-overflow:ellipsis;
			white-space: nowrap;
		}
		span.goods_price{
			text-align:left;
			width:100%;
			display:block;
			font-size:0.14rem;
			color:#343434;
		}

		.goods_discount,.goods_amount{
			overflow: hidden;
			>p{
				font-size:0.14rem;
				color:#343434;
				font-weight:700;
				span{
					font-size:0.1rem;
					color:#999;
					text-decoration:line-through;
				}
			}
		}
		.goods_discount{
			div.goods_tag{
				background:#f94e4e;
				padding:0.01rem 0.05rem;
				font-size:0.08rem;
				color:#fff;
				float:left;
			}
		}
		.goods_amount{
			div.goods_tag{
				border:1px solid #f94e4e;
				padding:0.01rem 0.05rem;
				font-size:0.08rem;
				color:#f94e4e;
				float:left;
			}
		}
	.mint-swipe{
		position: relative;
		.mint-swipe-indicators{
			bottom:0.01rem;
			height:0.04rem;
			display: flex;
      align-items: center;
			>div{
				width:0.04rem;
				height:0.04rem;
				border-radius:50%;
				margin:0 5px;
				background:#d8d8d8;
			}
			>div.is-active{
				background:#343434;
			}
		}
	}
	}
}



//阴影

.cwImg img{
//	box-shadow:0 1px 4px 0px rgba(92,92,92,0.5);
	transition:all linear 100ms;
  transform:scale(1,1);
}
.cwImg img.imgactive{
	transform:scale(0.95,0.95);
//	box-shadow:0;
}
.jjImg img{
//	box-shadow:0 1px 4px 0px rgba(92,92,92,0.5);
	transition:all linear 100ms;
  transform:scale(1,1);
}
.jjImg img.imgactive{
	transform:scale(0.95,0.95);
//	box-shadow:0 !important;
}
.jzImg>div>img{
//	box-shadow:0 1px 4px 0px rgba(92,92,92,0.5);
}
.recommend>div>img{
//	box-shadow:0 1px 4px 0px rgba(92,92,92,0.5);
}


.title{
	padding: 0.1rem 0;
	overflow: hidden;
//	position: relative;
}
.title h4{
	margin-top:0;
	margin-bottom:0;
	font-size: 0.18rem;
	color: #333333;
//	letter-spacing: -0.38px;
	float: left;
	margin-left: 0.16rem;
	height: 0.25rem;
	line-height: 0.25rem;
	font-family: PingFangSC-Medium;
	letter-spacing: 0;
}
.title p.more {
	padding-top:0.03rem;
	padding-bottom:0.03rem;
	font-size: 0.12rem;
	color: #435c9d;
	letter-spacing: -0.28px;
	float: right;
//	margin-right: 0.02rem;
	height: 0.19rem;
	line-height: 0.19rem;
}
.title img{
//  position: absolute;
//  right: 0.16rem;
//  top: 0.16rem;
    float: right;
    padding-right: 0.16rem;
    width: 0.12rem;
    height: 0.12rem;
    display: inline;
    margin-top: 0.06rem;    
}
.goodsImg{
	width: 3.75rem;
	height: 1.32rem;
	overflow: hidden;
	position: relative;
}
.goodsImg div.swiper-slide{
	width: 1.06rem;
	height: 1.3rem;
	border: 1px solid #ddd;
	margin-right: 0.1rem;
//	border-radius: 4px;
	position: relative;
	overflow:hidden;
	display: flex;
  justify-content: center;
  align-items: center;
  text-align:center;
//transition:all linear 100ms;
//transform:scale(1,1);
}
.goodsImg div.swiper-slide:first-child{
	margin-left:0.16rem;
}
.goodsImg div.swiper-slide:last-child{
    width: 1.06rem;
    height: 1.3rem;
    border: 1px solid #ddd;
    margin-right: 0.16rem;
//  border-radius: 4px;
    position: relative;
    overflow:hidden;
    display: flex;
  justify-content: center;
  align-items: center;
  text-align:center;
//transition:all linear 100ms;
//transform:scale(1,1);
}
.goodsImg div img{
   transition:all linear 100ms;
   transform:scale(1,1); 
}
.goodsImg div img.imgactive{
    transform:scale(0.95,0.95);
  //box-shadow:0;
}
//.goodsImg div.imgactive{
//	transform:scale(0.95,0.95);
////box-shadow:0;
//}

.goodsImg div.swiper-slide img{
	width: 90%;
	height: auto;
//	border-radius:4px;
}
.goodsImg div.swiper-slide span{
	font-size: 0.14rem;
	color: #333;
	position: absolute;
	left: 0; bottom: 0.07rem;
	display: block;
	width: 100%; height: 0.2rem;
	line-height: 0.2rem;
}


.cwImg {
  width: 3.43rem;
  padding-left: 0.16rem;
  padding-right: 0.16rem;
//padding-bottom:0.05rem;
  height: auto;
  overflow: hidden;
}
.cwImg img{
	width: 100%;
	height: 100%;
//	border-radius: 4px;
	vertical-align: top;
}
.cwImg .left{
  width: 1.64rem;
  height: 1.64rem;
  float: left;
  position: relative;
	margin-bottom:0.1rem;

}
.cwImg .left div{
	position: absolute;
	top: 0;left: 0;
	width: 100%; height: 100%;
	background: rgba(0,0,0,0.15);
//  border-radius: 2px;
}
.cwImg .left div p{
	font-size: 0.22rem;
	color: white;
	margin-left: 0.1rem;
	margin-top: 0.1rem;
}
.cwImg .left div p:last-child{
	font-size: 0.16rem;
	margin-top: 0;
}
.cwImg .right{
	width: 1.65rem;
	height: 1.64rem;
	float: left;
	margin-left: 0.13rem;
	margin-bottom:0.1rem;
}
.cwImg .right>div{
	width: 100%;
	height: 0.75rem;
	margin-top: 0.14rem;
//	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.06);
	position: relative;
}
.cwImg .right>div:first-child{
	margin-top: 0;
}
.cwImg .right>div>div{
	position: absolute;
	top: 0;left: 0;
	width: 100%; height: 100%;
	background: rgba(0,0,0,0.15);
//  border-radius: 2px;
}
.cwImg .right>div>div p{
	font-size: 0.16rem;
    color: #FFFFFF;
    margin-top: 0.43rem;
    margin-left: 0.1rem;
}
.jjImg{
	width: 3.75rem;
	height: auto;
	overflow: hidden;
	//padding-left:0.2rem;
	margin-top:0.2rem;
	
}
#swiper-container1{
	width: 100%;
	height: auto;
	font-size: 0.14rem;
	margin:0;

}
#swiper-container1 .swiper-slide{
 	//width:3.35rem;
 	height:auto;
 	text-align: center;
  //margin-right: 0.1rem;
  
}
#swiper-container1  .spaceImage{
	padding-top:0.02rem;
	padding-bottom:0.02rem;
	position:relative;
	width:3.35rem;
	height:2rem;
	transition:all linear 100ms;
  transform:scale(1,1);
  margin:auto;
}
#swiper-container1  .swiper-slide-prev .spaceImage{
	transform: translate3d(0.3rem, 0px, 0px);
}
#swiper-container1  .swiper-slide-next .spaceImage{
	transform: translate3d(-0.3rem, 0px, 0px);
}
#swiper-container1  div.imgactive{
	transform:scale(0.95,0.95);
}
#swiper-container1 img.space_cover{
	width:98%;
	height: 98%;
	display:block;
	margin:auto;
	//box-shadow:0 3px 5px 0px #999;
}
 #swiper-container1 .swiper-slide  .spaceImage div{
 	position:absolute;
 	bottom:0.08rem;
 	text-align:right;
 	overflow:hidden;
 	width:100%;
 }
#swiper-container1  .spaceImage img.icon{
	display:block;
	width:0.24rem;
	height:0.24rem;
	float:right;
}
 #swiper-container1 .swiper-slide  .spaceImage span{
 	color:white;
 	display:block;
 	height:0.24rem;
 	line-height:0.24rem;
 	font-size:0.14rem;
 	float:right;
 	margin-right:0.16rem;
 	margin-left:0.03rem;
 }






#swiper-container2{
	width: 100%;
	height: auto;
	font-size: 0.14rem;
	margin:0;
}
#swiper-container2 .swiper-slide{
 	height:auto;
 	text-align: center;
}
#swiper-container2  .spaceImage{
	position:relative;
	width:3.35rem;
	height:auto;
	transition:all linear 100ms;
  transform:scale(1,1);
  margin:auto;
}
#swiper-container2 .plan_image_box{
	width:100%;
	height:3.15rem;
	border:1px solid #eee;
	>img{
		display:block;
		width:100%;
		height:100%;
	}
}
#swiper-container2  .swiper-slide-prev .spaceImage{
	transform: translate3d(0.3rem, 0px, 0px);
}
#swiper-container2  .swiper-slide-next .spaceImage{
	transform: translate3d(-0.3rem, 0px, 0px);
}

#swiper-container2 .icon_layout{
	width:100%;
	height:auto;
	padding-top:0.1rem;
	padding-bottom:0.15rem;
	>span{
		display:block;
		width:100%;
		height:auto;
		font-size:0.16rem;
		color:#343434;
		font-weight:700;
		text-align:center;
		margin-bottom: 0.05rem;
	}
	>p{
		text-align: center;
		font-size:0.12rem;
		color:#cacaca;
	}
}







.jzImg{
	width: 3.43rem;
	height: auto;
	overflow: hidden;
	padding-left: 0.16rem;
	padding-right: 0.16rem;
	padding-bottom:50px;
}
.jzImg>div{
	width: 1.66rem;
	height: 1.66rem;
	float: left;
	margin-right: 0.1rem;
	position: relative;
	margin-bottom: 0.1rem;
	 transition:all linear 100ms;
  transform:scale(1,1);
}
.jzImg>div.imgactive{
	transform:scale(0.95,0.95);
	//box-shadow:0;
}
.jzImg>div:nth-child(even){
	margin-right: 0;
}
.jzImg>div>img{
	width: 100%;
	height: 100%;
//	border-radius: 4px;
}
.jzImg>div>div{
	position: absolute;
	top: 0;left: 0;
	width: 100%;
	height: 100%;
//	background-image: linear-gradient(-180deg, rgba(0,255,255,0.00) 90%, rgba(0,0,0,0.50) 100%);
//  border-radius: 4px;
}
.jzImg>div>div p{
	position: absolute;
	left: 0rem; bottom: 0rem;
	padding-left: 0.1rem;
    width: 1.56rem;
	overflow: hidden;
//	width: 1.52rem;
	height: 0.4rem;
	line-height: 0.4rem;
	display:flex;
    align-items: center;
//  border-radius: 0 0 4px 4px;
    background-image: linear-gradient(rgba(255,255,255,0.00) 0%, rgba(0,0,0,0.50) 100%);
}
.jzImg>div>div p span{
	font-size: 0.14rem;
	color: white;
	width:1.2rem;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	vertical-align: top;
	display:block;
	float: left;
}
.jzImg>div>div p span.biaoqian{
	float: right;
	width:auto;
	height:0.2rem;
	display:flex;
    align-items: center;
	position:absolute;
	top:0.1rem;right:0.1rem;
}
.jzImg>div>div p span img{
	vertical-align: top;
	width: auto;
	height: 0.14rem;
	margin-right: 2px;
}
#loademoreimg{
	width:100%;
	height:auto;
	text-align:center;
}
.show{
	display:none;
}
.loademoreimg{
	display:block;
}
#loademoreimg span{
	display:block;
	margin:auto;
}
#loademoreimg span div{
	margin:auto;
	 display: flex;
  align-items: center;
  height:0.5rem;
  width:0.6rem;
}
#loademoreimg p{
	color:#999;
	font-size:0.14rem;
	text-align:center;
}

.recommend {
	padding-bottom: 50px;
	overflow:hidden;
	> div {
		text-align:center;
		position: relative;
		width:3.35rem;
		height:auto;
		padding:0.2rem;
		>div{
			position:relative;
			height:auto;
			width:3.35rem;
			display:flex;
			align-items:center;
			transition:all linear 100ms;
      transform:scale(1,1);
			img {
			width: 100%;
			height:auto;
//			border-radius:4px;
//			box-shadow:0 1px 4px 0px rgba(92,92,92,0.5);
			// -moz-box-shadow: 0px 3px 20px #333333;
			// -webkit-box-shadow: 0px 3px 20px #333333;
			// box-shadow: 0px 0px 11px #333333;
			}
			img.recommendsceneing{
//				height:1.94rem;
				height:3.35rem;
				//box-shadow:0 1px 4px 1px rgba(92,92,92,0.5);
			}
			img.icon_type{
				display:block;
				position:absolute;
				top:0.15rem; right:0.11rem;
				width:0.24rem; height:0.24rem;
			}
			>.bottomArea{
				width:3.15rem;
				position:absolute;
				left:0rem; bottom:0rem;
				color:white;
				font-size:0.14rem;
				height:0.48rem;
				padding-left:0.1rem;
				padding-right: 0.1rem;
				line-height: 0.48rem;
				text-align:right;
				display:block;
				background: rgba(153,153,153,0.30);
//				border-radius: 0 0 4px 4px;
				//background-image: linear-gradient(rgba(255,255,255,0.00) 0%, rgba(0,0,0,0.50) 100%);
			//	background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 90%, rgba(0,0,0,0.50) 100%);
			    >span:nth-child(1){
			        float: left;
			    }
			    .length{
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap; 
						width: 80%;
						text-align: left;
					}
			    >img{
			        width: 0.24rem;
			        height: 0.24rem;
//			        box-shadow: none;
			        vertical-align:middle;
			        //margin-right: 4px;
			    }
			}
		}
		>div.imgactive{
				transform:scale(0.95,0.95);
			  //box-shadow:0;
			}
		>div.goodsdiv{
//			width:100%;
//			height:auto;
			display:block;
			text-align:left;
			>div:first-child{
				width:3.43rem;
				height:3.43rem;
				display:flex;
				align-items:center;
//				border-radius: 4px;
				>img{
//					border-radius:4px;
					height:auto;
	        transition:all linear 100ms;
          transform:scale(1,1);
				}
				>img.imgactive{
					transform:scale(0.95,0.95);
	        //box-shadow:0;
				}
			}
			>div:last-child{
				width:100%;
//				height:auto;
				margin-top:0.16rem;
				display:flex;
				justify-content:space-between;
				>div:first-child{
//					height:0.5rem;
				}
				p.goodstitle{
				font-size:0.16rem;
				color:#444444;
				font-weight:bold;
//				margin-bottom:0.1rem;
				}
				p.goodsprice{
					font-size:0.14rem;
					color:#333333;
					font-weight:bold;
					margin-bottom:0;
				}
				p.goodsdescription{
					font-size:0.14rem;
					color:#bcbcbc;
					display:-webkit-box;
					-webkit-box-orient:vertical;
					-webkit-line-clamp:3;
					overflow:hidden;
				}
				>div:last-child{
//					height:0.5rem;
					display:flex;
					align-items: center;
					p.goodsshop{
					font-size:0.14rem;
					padding:0.05rem;
					height:0.2rem;
					line-height:0.2rem;
					background: #333333;
//					background-image:linear-gradient(to right, #333333,#ffa0a0);
					color:white;
//					border-radius:0.2rem;
					width:0.8rem;
					text-align:center;
//					box-shadow: 0 2px 6px 0px rgba(253, 131, 131, 0.5);
				 }
				}
			}
		}
		h4.recommendtitle{
			font-size:0.12rem;
			color:#666;
			font-weight:normal;
			text-align:left;
			display:flex;
            align-items:center;
            >span{
                width: 0.28rem;
                height: 0.12rem;
                line-height: 0.12rem;
                text-align: center;
                margin-left: 0.1rem;
                font-size: 0.08rem;
                border: 1px solid #333333;
//              border-radius: 4px;
                color: #333333;
            }
		}
		h4.recommendtitle img{
				width:0.3rem;
				height:auto;
				margin-left:0.1rem;
		}
		> p {
			color:#666;
			font-size: 0.14rem;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 2;
			overflow: hidden;
			margin-top:0.1rem;
			text-align:left;
		}
	}
}

.recommend{
	.goods_discount,.goods_amount{
		overflow: hidden;
		span{
			margin-left:0.05rem;
		}
		>p{
			display:flex;
			align-items:center;
			height:0.2rem;

			font-size:0.16rem;
			color:#343434;
			font-weight:700;
			>span.goods_discountPrice{
				font-size:0.1rem;
				color:#999;
				text-decoration:line-through;
			}
		}
	}
	.goods_discount{
		.goods_tag{
			background:#f94e4e;
			padding:0.01rem 0.05rem;
			font-size:0.08rem;
			color:#fff;
			
		}
	}
	.goods_amount{
		.goods_tag{
			border:1px solid #f94e4e;
			padding:0.01rem 0.05rem;
			font-size:0.08rem;
			color:#f94e4e;
			
		}
	}
}


.category{
	background:#fff;
	width:3.35rem;
	height:auto;
	overflow:hidden;
	margin:auto;
	padding-top:0.2rem;
	padding-bottom:0.2rem;
	padding-left:0;
	border-bottom: 1px solid #cacaca;
	>li{
		width:25%;
		float:left;
		text-align:center;
		p{
			font-size:0.12rem;
		  color:#343434;
		}
		img{
			display:block;
			margin:auto;
			width:0.44rem;
			height:0.44rem;
		}
	}
}

.space{
	background-image: linear-gradient(-180deg, #FFFFFF 0%, #F9F9F9 100%);
	padding-top: 0.29rem;
	padding-bottom: 0.25rem;
}
.space_title{
	width:3.35rem;
	height:0.3rem;
	margin:auto;
	display:flex;
  justify-content: space-between;
  align-items: center;
  b{
  	color:$blackColor;
  	font-size:0.2rem;
  }
  img{
  	display:block;
  	width:0.24rem;
  	height:0.24rem;
  }
}
.design_recommend_box{
	-webkit-transition: opacity 0.1s linear;
  -moz-transition: opacity 0.1s linear;
  -o-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
}
.jjImg div.fadeIn{
	opacity:100;
	filter:alpha(opacity=100);	
}
.jjImg div.fadeOut{
  opacity:0;
  filter:alpha(opacity=0)
}
.design_recommend{
	margin-top:0.15rem;
	font-size:0.14rem;
	text-align:center;
	color:$blackColor;
}
.praise_goods_layout{
	width:100%;
	.praise_goods{
		width:3rem;
		margin:auto;
		padding-top:0.2rem;
		padding-bottom: 0.25rem;
		border-bottom:1px solid #ddd;
		overflow:hidden;
		img{
			width:0.8rem;
			height:0.8rem;
			display:block;
			float:left;
			transition:all linear 100ms;
 		  transform:scale(1,1);
		}
		.imgactive{
		  transform:scale(0.95,0.95);
		}
		>div{
			width:1.9rem;
			height:0.75rem;
			padding-top:0.05rem;
			float:left;
			margin-left:0.3rem;
			position:relative;
			p.title1{
				font-size:0.15rem;
				color:$blackColor;
				text-align:left;
				margin-bottom:0.06rem;
				overflow: hidden;
				text-overflow:ellipsis;
				white-space: nowrap;
			}
			p.desc{
				text-align:left;
				font-size:0.12rem;
				color:#999;
				overflow: hidden;
				text-overflow:ellipsis;
				white-space: nowrap;
			}
			span.goods_price{
				text-align:left;
				position:absolute;
				left:0; bottom:0;
				width:100%;
				display:block;
				font-size:0.14rem;
				color:#343434;
			}

			.goods_discount,.goods_amount{
				overflow: hidden;
				>p{
					font-size:0.14rem;
					color:#343434;
					font-weight:700;
					span{
						font-size:0.1rem;
						color:#999;
						text-decoration:line-through;
					}
				}
			}
			.goods_discount{
				div.goods_tag{
					background:#f94e4e;
					padding:0.01rem 0.05rem;
					font-size:0.08rem;
					color:#fff;
					float:left;
				}
			}
			.goods_amount{
				div.goods_tag{
					border:1px solid #f94e4e;
					padding:0.01rem 0.05rem;
					font-size:0.08rem;
					color:#f94e4e;
					float:left;
				}
			}

		}
	}
	.praise_goods:last-child{
		border-bottom:0;
	}
	
}
.goods_learnMore{
		width:3rem;
		margin:auto;
		display: flex;
    justify-content: flex-end;
		align-items:center;
		span{
			font-size:0.14rem;
			color:#666;
		}
		img{
			display:block;
			width:0.16rem;
			height:0.16rem;
		}
	}
.home_plan_box{
	padding-top:0.3rem;
	background:white;
}
.praise_goods_box{
	padding-top:0.3rem;
}
.praise_goods_content{
	width:3.35rem;
	padding-top:0.2rem;
	padding-bottom:0.3rem;
	border-bottom:1px solid #cacaca;
	height:auto;
	margin:auto;
	overflow:hidden;
	.left{
		float:left;
		width:1.4rem;
		height:1.75rem;
		background:#F9F9F9;
		padding-top:0.2rem;
		img{
			display:block;
			width:1rem;
			height:1rem;
			margin:auto;
		}
		p{
			width:1rem;
			word-break:break-all;
			font-weight:700;
			font-size:0.14rem;
			color:#blackColor;
			text-align:left;
			margin:0.24rem auto 0;
			word-wrap: break-word; 
			display:-webkit-box;
			-webkit-box-orient:vertical;
			-webkit-line-clamp:2;
			overflow:hidden;
		}
	}
	.right{
		width:1.9rem;
		height:1.95rem;
		float:right;
		div{
			width:100%;
			height:0.95rem;
			margin-bottom:0.05rem;
			background:#F9F9F9;
			display:flex;
			align-items:center;
			justify-content: flex-start;
		}
		div:last-child{
			margin-bottom:0;
		}
		p{
			display:-webkit-box;
			-webkit-box-orient:vertical;
			-webkit-line-clamp:3;
			overflow:hidden;
			word-break:break-all;
			font-weight:700;
			font-size:0.12rem;
			color:#blackColor;
			width:0.8rem;
			text-align:left;
		}
		img{
			display:block;
			width:0.8rem;
			height:0.8rem;
			margin-right:0.1rem;
			margin-left:0.1rem;
		}
	}
}

.subject{
	padding-top:0.2rem;
	width:100%;
	>div{
		height:auto;
		width:3.35rem;
		margin: 0 auto 0.2rem ;
		position:relative;
		transition:all linear 100ms;
    transform:scale(1,1);
		img{
			width:100%;
			height:1.70rem;
			display:block;
		}
		span{
			padding:0.02rem 0.05rem;
			background:rgba(255,255,255,0.5);
			border-radius: 2px;
			color:$blackColor;
			color:white;
			font-size:0.1rem;
			position:absolute;
			right:0.15rem; bottom:0.11rem;
		}
	}
	>div.imgactive{
		transform:scale(0.95,0.95);
	}
	.line{
		width:100%;
		height:0.12rem;
		background:#f6f6f6;
	}
}


.recommend_title{
	display:flex;
	align-items:center;
	justify-content: flex-start;
	width:3.35rem;
	margin:0.15rem auto 0;
	span{
		font-size:0.2rem;
		color:$blackColor;
	}
	img{
		display:block;
		width:0.24rem;
		height:0.24rem;
	}
}
#reload{
	width:100%;
	height:auto;
	font-size:0.14rem;
	padding:0.2rem 0;
	color:#333;
}



}
