#sceneFurniture_vue{
.top{
  width: 3.59rem;
  padding: 0.16rem  0 0.16rem 0.16rem;
  overflow: hidden;
  font-size:0.14rem;
  border-bottom: 1px solid #f2f2f2;
  >h4{
    font-size:0.16rem;
    color:#333;
    margin-bottom: 0.1rem;
  }
}
div.imgactive{
    transform: scale(0.95, 0.95);
  }
.swiper-slide{
  width:1.6rem;
  height: 0.888rem;
  margin-right:0.1rem;
  overflow:hidden;
  position: relative;
  transform: scale(1, 1);
  transition: all linear 100ms;
  >img{
    width:100%;
    height:auto;
  }
  p{
    width:100%;
    height:100%;
    background:#a2a2a2;
  }
  
  span{
    position:absolute;
    top:0;left:0;
    display:block;
    width:100%; height:100%;
    background:rgba(0,0,0,0.1);
    text-align:center;
    line-height:0.888rem;
    font-size:0.20rem;
    font-weight:400;
    color:#fff;
  }
}

.recommends{
  font-size:0.16rem;
  color:#333;
 
  .imgactive{
    transform: scale(0.95, 0.95);

  }
  li{
  transition: all linear 100ms;
   padding-top: 0.16rem;
  padding-bottom:0.16rem;
  border-bottom:1px solid #f2f2f2;

  >p{
    padding-left: 0.16rem;
    margin-bottom:0.1rem;
    height:0.3rem;
    display:flex;
    align-items:center;
    >span{
      font-size:0.08rem;
      border: 1px solid #333;
      padding:0.01rem 0.05rem;
      margin-left: 0.1rem;
    }
  }

  >div{
    position: relative;
    width: 3.43rem;
    height: 3.43rem;
    margin:auto;
    transition:all linear 100ms;
    transform:scale(1,1);
    >img{
        display:block;
        width:100%;
        height:100%;
    }
    >div{
        width:100%;
        position:absolute;
        left:0; bottom:0.1rem;
        height:0.2rem;
        overflow:hidden;
        font-size:0.14rem;
        p{
            color:#fff;
            float:left;
            margin-left:0.16rem;
        }
        p.biaoqian{
            float:right;
            margin-right:0.16rem;
            height:0.2rem;
            display:flex;
            align-items: center;
            >img{
                margin-right:4px;
                width: 0.14rem;
                height: 0.14rem;
            }
        }
    }
  }

 }
}

#load{
   width:100%; 
    height:0.5rem;
    display:flex;
    align-items: center;
    >span{
        width:100%;
        display:block;
        text-align:center;
    }
    div{
    width:0.5rem;
    margin:auto;
    height:0.5rem;
    display:flex;
    align-items: center;
 }
}

 #reload{
    width:100%;
    height:auto;
    font-size:0.14rem;
    padding:0.2rem 0;
    color:#333;
    text-align:center;
    margin:0;
    clear: both;
    float: none;
  }


}